<div class="menu">
  <!-- <button
    mat-button
    routerLink="board"
    routerLinkActive="active-path">
  Board
  </button> -->
  <button
    routerLink="board">
  Board
  </button>

  <button
    mat-button
    routerLink="notes"
    routerLinkActive="active-path">
  Notes
  </button>

<mat-toolbar color="primary">
    <div class="home">
      <button mat-icon-button color="accent"
        routerLink="">
        <mat-icon>home</mat-icon>
        <span class="title"></span>Life
      </button>
    </div>
  
    <div class="menu">
      <!-- <button
        mat-button
        routerLink="board"
        routerLinkActive="active-path">
      Board
      </button> -->
      <button
        routerLink="board">
      Board
      </button>
  
      <button
        mat-button
        routerLink="notes"
        routerLinkActive="active-path">
      Notes
      </button>
  
      <!-- <button
        mat-button
        routerLink="courses"
        routerLinkActive="active-path">
      Courses
      </button> -->
    </div>
  </mat-toolbar>
  